/* 网页样式 */
html{
    background-color: #666;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 68vh;
    background-image: url("../img/snow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 75%;
    margin: 0;
    overflow-x: hidden;
}

/* 导航栏文字颜色 */
.text_color_white{
    color: whitesmoke;
}
.text_color_blank{
    color: black;
}
/* 显示导航栏 */
.nav_bg_white{
    background-color: rgba(245, 245, 245, 0.95);
}
/* 导航栏 */
#nav{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    user-select: none;
    transition: 0.6s;
    position: fixed;
    z-index: 2;
}
/* 导航栏标题 */
#nav #title{
    position: relative;
    left: 105px;
    font-size: 24px;
    font-weight: 800;
    font-family: "Corbel Light", serif;
    text-decoration:none;
    transition-duration: 0.3s;
}
/* 导航栏标签盒子 */
#tag_box{
    position: absolute;
    right: 137px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 17px;
    font-family: "微软雅黑 Light", serif;
}
/* 导航栏a标签 */
#tag_box a{
    margin-right: 38px;
    text-decoration:none;
    transition-duration: 0.3s;
    cursor: pointer;
    position: relative;
}
/* a标签下划线效果 */
#tag_box a::after{
    content: "";
    width: 68px;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}
#tag_box a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
/* 导航栏a标签悬停效果 */
#tag_box a:hover{
    color: rgba(66, 206, 110, 0.75);
}

/* 动画，光标闪烁 */
@keyframes blink {
    0%,49%{
        opacity: 0;
    }
    50%,100%{
        opacity: 1;
    }
}
/* 动画，打字效果 */
@keyframes typing {
    0%{
        width: 0;
    }
    100%{
        width: calc(var(--count) * 40px);
    }
}
/* 欢迎 */
#welcome{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
/* 欢迎h1文字 */
#welcome h1{
    position: relative;
    top: 60px;
    color: #fff;
    letter-spacing: 3px;
    width: 40px;
    white-space: nowrap;
    font-size: 37px;
    overflow: hidden;
    --count: 11;
    animation: typing 2.3s steps(var(--count)) forwards;
    user-select: none;
    font-family: 細明體-ExtB, serif;
}
#welcome h1::after{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    animation: blink 1s linear infinite;
}

/* 内容 */
#content{
    position: absolute;
    top: 68vh;
    width: 100vw;
    min-height: 80vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    padding-top: 50px;
    user-select: none;
    overflow: hidden;
}
/* 波动动画 */
@keyframes wave {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
/* 上下浮动动画 */
@keyframes swell {
    0%,100%{
        transform: translate(0,-25px);
    }
    50%{
        transform: translate(0,5px);
    }
}
/* 底部双层波浪 */
.sea{
    width: 100%;
    height: 5%;
    background-color: #015871;
    position: absolute;
    left: 0;
    bottom: 0;
}
.wave{
    background: url("../img/wave.svg") repeat-x;
    width: 6400px;
    height: 198px;
    position: absolute;
    top: -198px;
    animation: wave 7s cubic-bezier(0.36,0.45,0.63,0.53) infinite;
}
.wave:nth-child(2){
    top: -175px;
    animation: wave 7s cubic-bezier(0.36,0.45,0.63,0.53) infinite,swell
    7s ease infinite;
    animation-delay: -0.2s;
}

/* 留言表单 */
#form_box{
    width: 100vw;
    height: 70vh;
    position: relative;
}
#form_box h2{
    position: relative;
    left: 350px;
    font-size: 39px;
    margin: 0;
    font-family: "华文细黑", serif;
    font-weight: 600;
}
/* 文本域 */
#form_box textarea{
    position: relative;
    left: 380px;
    top: 20px;
    width: 718px;
    height: 343px;
    z-index: 2;
    background-color: rgba(248, 246, 246, 0.95);
    border-radius: 15px;
    padding: 10px 10px;
    resize: none;
    font-size: 21px;
    font-weight: 400;
    font-family: 新宋体, serif;
    border: 1px solid rgba(187, 187, 187, 0.5);
    letter-spacing: 1px;
}
#form_box textarea:focus{
    outline: none;
    border-color: #62d78a;
    box-shadow: 0 0 5px #86ded1;
}
/* 提交按钮 */
#form_box input{
    position: relative;
    left: 410px;
    top: 5px;
    z-index: 2;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #5278c0;
    background-color: rgba(100, 149, 237, 0.8);
    border-radius: 15px;
    letter-spacing: 3px;
}
#form_box input:hover{
    box-shadow: 0 0 25px whitesmoke;
}
